body {
    font-family: helvetica, tahoma, sans-serif;
    font-size: 14px;
    color: #000;
}

a { text-decoration: none; color: #1b4b63; }
a:active { color: #f6ef0c; }
a:hover { color: #a73f0b; text-decoration: underline; }

img { vertical-align: middle; border: none; }
li { list-style-type: none; }

table {
    border-collapse: collapse;
}

table tr {
    vertical-align: center;
}

body, img, ul, hr, #header h1, .post h3, .post .meta, #totw #totw-header p, #totw #totw-header h2 { margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6 {
    font-family: georgia, garamond serif;
}


hr { border: 0; width: 100%; }

#blabber h2, #totw h2, #totw h3 { letter-spacing: -0.10em; }

#header {
    text-align: center;
    margin: 20px 0 25px 0;
}

#header a, h1 a, h2 a, h3 a { color: #000; }
#header a:hover, h1 a:hover, h2 a:hover, h3 a:hover { color: #444; text-decoration: none; }

#header h1 {
    font-size: 50px;
    letter-spacing: -7px;
    line-height: 0.6;
    margin: 0;
    padding: 0;
}

#header p {
    font-family: georgia, serif;
    font-size: 1.2em;
    letter-spacing: -0.1em;
}

#me {
    margin: 0 auto 37px auto;
}

#dude {
  box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
}

#privacy-hell { margin-left: 20px; }
#privacy-hell ul { margin-top: 2px; }
#privacy-hell li { padding-bottom: 10px; }
#privacy-hell a:hover { text-decoration: none; }
#privacy-hell img {
    width: 16px;
    height: 16px;
    margin-top: -2px;
}


#content {
    width: 700px;
    margin: auto;
}

.article-list, .post {
    margin-top: 30px;
}

.article-list ul li span {
    font-family: monospace;
    font-size: 0.9em;
    color: #777;
}

.post { font-size: 1.1em; }

.post .meta {
    margin-bottom: 15px;
    font-size: 0.8em;
    color: #777;
}

#totw .item {
    float: left;
    width: 340px;
    margin: 0 10px 20px 0;
}

#totw table tr td { padding-right: 20px; }
#totw p { font-size: 0.95em; }
#totw .links, #totw .genres { font-size: 0.8em; }
#totw #totw-header p {
    font-size: 0.8em;
    color: #555;
}

#footer {
    text-align: center;
    padding-top: 40px;
    font-size: 0.8em;
}

#footer #ohhai {
    width: 120px;
    margin: auto;
    text-align: left;
}

#footer pre {
    margin-left: 30px;
}

#last-update {
    color: #777;
}

.border { border: 1px solid black; }

hr#hr2, hr#hr3, hr#hr4 { padding: 1px 4px; }
hr#hr1 { padding: 4px; margin-top: 3px; background-color: #fff7d7; }
hr#hr2 { background-color: #a40000; }
hr#hr3 { background-color: #1c86ee; }
hr#hr4 { background-color: #edd400; }



