@import url(http://fonts.googleapis.com/css?family=Ovo&v2);

* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  font-family: 'Ovo', serif;
  font-size: 1em;
  text-align: center;
}

h1, h2 {
  font-weight: normal;
}

h1 {
    margin: 25px 0;
    font-size: 1.5em;
}

p {
  margin: 1em 0;
}

a, a:visited {
  color: #00a;
}

section, article, header#intro {
    width: 950px;
    margin: 20px auto;
}

article {
  text-align: left;
  width: 500px;
}

article img {
  box-shadow: 0 0 7px #000;
  max-width: 500px;
}

article.white img {
  box-shadow: none;
}

section > header {
  text-align: right;
  border-bottom: 1px solid #aaa;
}

section a figure img {
  box-shadow: 0 0 3px #000;

  -webkit-transition: box-shadow 700ms;
  -moz-transition: box-shadow 700ms;
  -o-transition: box-shadow 700ms;
  transition: box-shadow 700ms;
}

section a:hover figure img {
  box-shadow: 0 0 18px #000;
}

section figcaption {
  margin: 7px 0;
  font-size: 0.9em;
}

section#visualizations a {
  text-decoration: none;
  color: #000 !important;
}

section#visualizations > ul li {
  display: inline-block;
  width: 180px;
  margin: 0 3px;
}

section#software, section#talks {
  text-align: left;
}

section#software ul,
section#talks ul {
  margin: 20px;
}

section#software ul li,
section#talks ul li {
  margin-bottom: 10px;
}

section#talks time {
}

nav {
  text-align: right;
}

header.address, footer {
  margin: 10px 0;
  font-size: 0.7em;
}

header.address ul li, footer ul li {
  display: inline-block;
  margin: 5px 5px;
}

header.address img, footer img {
  width: 16px;
  height: 16px;
}
