* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  font-family: "source-code-pro", monospace;
  font-size: 1em;
  text-align: center;
}

h1, h2 {
  font-weight: normal;
}

h1 {
    width: 500px;
    margin: 25px auto;
    font-size: 1.5em;
}

header#intro > h1 {
  width: 100%;
}

header#intro > * {
  display: inline-block;
}

header#intro {
  /*margin: 50px;*/
}

section#intro-section {
  width: 70%;
  margin: 0;
}

section#intro-section > p:nth-child(2) {
  font-size: 1em;
}

header#intro figure, header#intro p {
  /*display: inline-block;*/
  /*margin: 30px 0;*/
  padding: 0;
  vertical-align: middle;
}

header#intro figure {
  width: 25%;
  vertical-align: top;
  position: relative;
  top: 50px;
}

header#intro p {
  /*width: 74%;*/
}

header#intro figure .image {
    width: 90%;
    padding-bottom: 70%;
    margin: 5px 0 0 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
}

header#intro p {
  font-size: 1.2em;
  line-height: 1.6em;
}

p {
  text-align: left;
  margin: 1em auto 0.1em auto;
}

a, a:visited {
  color: #00a;
}

section {
  margin: 50px;
}

article {
  /*, header#intro {*/
    width: 950px;
    margin: 20px auto;
}

article {
  text-align: left;
  width: 500px;
}

article img {
  /*box-shadow: 0 0 7px #000;*/
  /*max-width: 500px;*/
  width: 150%;
  margin-left: -25%;
}

article.white img {
  box-shadow: none;
}

section > header {
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
  /*text-transform: uppercase;*/
}

section a figure {
  text-align: left;
  /*text-transform: uppercase;*/
  color: #666;
}

section a figure .image {
  width: 100%;
  padding-bottom: 60%;
  margin: 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border: 1px solid #efefef;
}

section a:hover figure img {
}

section figcaption {
  margin: 7px 0;
  font-size: 0.9em;
  position: relative;
  padding-right: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section#latest figcaption {
  padding-right: 0;
}

section#latest a {
  text-decoration: none;
  color: #000 !important;
}

section#latest ul {
  text-align: left;
}

section#latest > ul > li {
  display: inline-block;
  vertical-align: top;
  /*width: 31%;*/
  /*margin: 30px 2% 0 0;*/
  /*width: 22%;*/
  width: 30%;
  margin: 30px 3% 0 0;
}

/*section#latest > ul > li:nth-child(n + 4) {*/
  /*width: 22%;*/
  /*width: 48%;*/
  /*margin: 30px 3% 0 0;*/
/*}*/

section#visualizations a {
  text-decoration: none;
  color: #000 !important;
}

section#visualizations ul {
  text-align: left;
}

section#visualizations > ul > li {
  display: inline-block;
  vertical-align: top;
  /*width: 31%;*/
  width: 48%;
  margin: 30px 2% 0 0;
}

/*section#visualizations > ul > li:nth-child(n + 4) {*/
  /*width: 22%;*/
  /*margin: 30px 3% 0 0;*/
/*}*/

ul.tags {
  /* display: inline; */
  /* text-align: right; */
  position: absolute;
  right: 0;
  top: 0;
  display:none;
}

ul.tags > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1px;
  padding: 0.05em 0.5em;
  font-size: 0.8em;
  background: #8899a6;
  color: white;
  border-radius: 0.2em;
}

section#software, section#talks {
  text-align: left;
}

section#software ul,
section#talks ul {
  margin: 20px;
}

section#software ul li,
section#talks ul li {
  margin-bottom: 10px;
}

section#talks time {
}

nav {
  width: 500px;
  margin: auto;
  text-align: right;
}

header.address, footer {
  margin: 10px 0;
  font-size: 0.7em;
}

header.address ul li, footer ul li {
  display: inline-block;
  margin: 5px 5px;
}

header.address img, footer img {
  width: 16px;
  height: 16px;
}

/*@media screen and (max-width: 1300px) {*/
  /*section#visualizations > ul > li {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*width: 48%;*/
    /*margin: 30px 2% 0 0;*/
  /*}*/

  /*section#visualizations > ul > li:nth-child(n + 3) {*/
    /*width: 32%;*/
    /*margin: 30px 1% 0 0;*/
  /*}*/

  /*section figcaption {*/
    /*padding-right: 0;*/
  /*}*/

  /*ul.tags {*/
    /*position: static;*/
  /*}*/

/*}*/

ul.tags > li.Twitter,
ul.tags > li.Google,
ul.tags > li.Mozilla
{
  background: #55acee;
}

ul.tags > li.Gov,
ul.tags > li.Sports,
ul.tags > li.News,
ul.tags > li.TV,
ul.tags > li.Music
{
  background: #77b255;
}

ul.tags > li.PhiloGL,
ul.tags > li.InfoVis {
  background: #ffcc4d;
}

ul.tags > li.SciViz {
  background: #9266cc;
}

iframe {
  /*margin-left: -125px;*/
}
