---
layout: default
title: Nicolas Garcia Belmonte
---

<header id="intro">
  <h1>Hi, I'm <a href="https://twitter.com/philogb">Nicolas Garcia
      Belmonte</a>. I visualize data. Here's some of my work.</h1>
</header>

<section id="visualizations">
  <header>
    <h2>Data Visualizations</h2>
  </header>
  <ul>
    {% for post in site.posts %}{% if post.category == 'Visualization'%}<li><a href="{% if post.fullurl %}{{post.fullurl}}{% else %}{{post.url }}{% endif %}"><figure><div class="image" style="background-image: url({{ post.thumb }}); {% if post.position %}background-position: {{post.position}} {% endif %}"></div><figcaption>{{ post.title }} <ul class="tags">{% for tag in post.tags %}<li class="{{tag}}">{{tag}}</li>{% endfor %}</ul></figcaption></figure></a></li>{% endif %}{% endfor %}</ul>
</section>

<section id="software">
  <header>
    <h2>Software</h2>
  </header>
  <ul>
    {% for post in site.posts reversed %}
      {% if post.category == 'Software' %}
      <li>
        <img alt="{{ post.title }}" src="{{ post.thumb }}" />
        <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.description }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
</section>

<section id="talks">
  <header>
    <h2>Talks, Interviews &amp; Articles</h2>
  </header>
  <ul>
<li><time>Mar 2014</time> Presented a <a href="http://twitter.github.io/interactive">demo</a> at <a href="http://www.tapestryconference.com/">Tapestry Conference</a> in Annapolis, MA</li>
<li><time>Feb 2014</time> <a href='http://www.snd.org/2014/02/qa-twitters-nicolas-belmonte-on-the-state-of-the-union-interactive/'>Twitter's Nicolas Belmonte on his State of the Union Visualization</a> - Q&amp;A with the Society for News Design (SND)</li>
<li><time>Dec 2013</time> <a
  href='https://speakerdeck.com/philogb/growing-a-language-for-graphics-dotjs'>Growing
a Language for Graphics</a> - DotJS in Paris, France <a href='http://www.youtube.com/watch?v=x_Fx92X06Yk'>(video)</a></li>
<li><time>Oct 2013</time> <a
  href='http://www.slideshare.net/philogb/interactives-at-twitter-27259565'>#Interactive:
  Data Visualization at Twitter</a> - Data Visualization Meetup at Twitter HQs, San Francisco, CA <a href='http://www.youtube.com/watch?v=Bgu_OsA7qNQ'>(video)</a></li>
<li><time>May 2013</time> <a href='http://www.slideshare.net/philogb/talk-2013-sudweb'>La visualisation de données comme outil pour découvrir et partager des idées sur le Web</a> - SudWeb 2013 at Avignon, France <a href='http://vimeo.com/album/2451288/video/70464555'>(video)</a></li>
<li><time>Feb 2013</time> <a href='http://www.slideshare.net/philogb/exploring-web-standards-for-data-visualization'>Exploring Web Standards for High Data Density Visualizations</a> - Strata Conference at Santa Clara, CA, USA</li>
<li><time>Oct 2012</time> <a href='http://dev.opera.com/articles/view/webgl-post-processing/'>Article - Image and video post-processing with WebGL</a> - Opera Software</li>
<li><time>Jun 2012</time> <a href='http://www.fayerwayer.com/2012/06/dos-latinos-en-silicon-valley-fw-interviu/'>Interview for Fayerwayer - Dos Latinos en Silicon Valley</a> - Fayerwayer at Santiago, Chile <a href='http://www.youtube.com/watch?v=W0Ycm3gB4E8'>(video)</a></li>
<li><time>May 2012</time> <a href='http://www.slideshare.net/philogb/javascript-para-graficos-y-visualizacion-de-datos'>JavaScript for Graphics and Data Visualization</a> - JSConf Argentina at Buenos Aires, Argentina <a href='http://blip.tv/jsconfar/nicolas_garcia_belmonte-6193170'>(video)</a></li>
<li><time>May 2012</time> <a href='http://www.slideshare.net/philogb/nuevas-herramientas-de-visualizacion-en-javascript'>New JavaScript Tools for Data Visualization</a> - Dynamic Languages Meetup at Santiago, Chile</li>
<li><time>Apr 2012</time> <a href='http://www.slideshare.net/philogb/data-visualization-for-the-web'>Data visualization for the Web</a> - Stanford ACM Tech Talks at Palo Alto, CA, USA</li>
<li><time>Mar 2012</time> <a href='http://www.slideshare.net/philogb/leaving-flatland-getting-started-with-webgl-sxsw-2012'>Leaving Flatland: Getting Started with WebGL</a> - SXSW at Austin, TX, USA</li>
<li><time>Oct 2011</time> <a href='http://www.slideshare.net/senchainc/webgl-fundamentals-10013633'>WebGL Fundamentals</a> - SenchaCon at Austin, TX, USA <a href='https://vimeo.com/33644394'>(video)</a></li>
<li><time>Sep 2011</time> <a href='http://www.slideshare.net/philogb/principles-of-analytical-design-visually-meetup-sept-2011'>Principles of Analytical Design</a> - Visual.ly group meetup at Mountain View, CA, USA</li>
<li><time>Sep 2011</time> <a href='http://www.slideshare.net/philogb/new-tools-for-visualization-in-javascript-sept-2011'>New Tools for Visualization in JavaScript</a> - Data Visualization group meetup at San Francisco, CA, USA</li>
<li><time>Aug 2011</time> <a href='http://www.khronos.org/webgl/wiki/Presentations#SIGGRAPH_2011_WebGL_BOF'>PhiloGL: an overview</a> - WebGL BOF SIGGRAPH at Vancouver, BC, Canada</li>
<li><time>Jun 2011</time> <a href='http://www.slideshare.net/philogb/philogl-webglcamp-google-hqs-june-2011'>PhiloGL: A WebGL Framework for data visualization, creative coding and game development</a> - WebGL Camp at Google HQs at Moutain View, CA, USA <a href='http://www.youtube.com/watch?v=aWTVbS8ruzw'>(video)</a></li>
<li><time>Dec 2010</time> <a href='http://www.slideshare.net/philogb/creating-interactive-data-visualizations-for-the-web-yow-developer-conferences-australia'>Creating Interactive Data Visualizations for the Web with the JavaScript InfoVis Toolkit 2.0</a> - YOW! Developer Conferences at Melbourne, Australia</li>
<li><time>Sep 2010</time> <a href='http://www.slideshare.net/philogb/javascript-infovis-toolkit-create-interactive-data-visualizations-for-the-web'>JavaScript InfoVis Toolkit 2.0: Interactive Data Visualizations for the Web</a> - JSConf Europe at Berlin, Germany <a href='http://blip.tv/jsconfeu/nicolas-garcia-belmonte-creating-interactive-data-visualizations-for-the-web-4258166'>(video)</a></li>
<li><time>Nov 2009</time> <a href='http://www.slideshare.net/philogb/using-web-standards-to-create-interactive-data-visualizations-for-the-web'>Using Web Standards to create Interactive Data Visualizations for the Web </a> - Parisian Seminar on Information Visualization and HCI at Paris, France</li>
<li><time>2007</time> JavaScript and the Web 2.0 - BarCamp at Buenos Aires, Argentina</li>

  </ul>
</section>
