<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="copyright" content="Nicolas Garcia Belmonte" />
  <link rel="shortcut icon" type="image/ico" href="/assets/img/blog.png" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, handheld" />
</head>
<body>
  <header class="address">
  <address>
    <ul>
      <li>
      <a href="mailto:philogb@gmail.com">
        <img alt="mail" title="mail" src="/assets/img/gmail.png" />
      </a>
      </li>
      <li>
      <a href="http://twitter.com/philogb/">
        <img alt="twitter" title="twitter" src="/assets/img/twitter.png" />
      </a>
      </li>
      <li>
      <a href="http://www.linkedin.com/in/nicolasbelmonte">
        <img alt="linkedin" title="linkedin" src="/assets/img/linkedin.png" />
      </a>
      </li>
      <li>
      <a href="http://www.flickr.com/photos/46627889@N02/">
        <img alt="flickr" title="flickr" src="/assets/img/flickr.png" />
      </a>
      </li>
      <li>
      <a href="http://philogb.github.com/blog">
        <img alt="blog" title="blog" src="/assets/img/blog.png" />
      </a>
      </li>
      <li>
      <a href="http://philogb.github.com/notes">
        <img alt="notes" title="notes" src="/assets/img/notes.png" />
      </a>
      </li>
    </ul>
  </address>
  </header>

  {{ content }}

<footer>
  <address>
  <ul>
    <li>
    <a href="mailto:philogb@gmail.com">
      <img alt="mail" title="mail" src="/assets/img/gmail.png" />
    </a>
    </li>
    <li>
    <a href="http://twitter.com/philogb/">
      <img alt="twitter" title="twitter" src="/assets/img/twitter.png" />
    </a>
    </li>
    <li>
    <a href="http://www.linkedin.com/in/nicolasbelmonte">
      <img alt="linkedin" title="linkedin" src="/assets/img/linkedin.png" />
    </a>
    </li>
    <li>
    <a href="http://www.flickr.com/photos/46627889@N02/">
      <img alt="flickr" title="flickr" src="/assets/img/flickr.png" />
    </a>
    </li>
    <li>
    <a href="http://philogb.github.com/blog">
      <img alt="blog" title="blog" src="/assets/img/blog.png" />
    </a>
    </li>
    <li>
    <a href="http://philogb.github.com/notes">
      <img alt="notes" title="notes" src="/assets/img/notes.png" />
    </a>
    </li>
  </ul>
  </address>

  Copyright &copy; Nicolas Garcia Belmonte.
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1601691-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
