<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="copyright" content="Nicolas Garcia Belmonte" />
  <link rel="shortcut icon" type="image/ico" href="/assets/img/blog.png" /> 
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection, handheld" />
</head>
<body>

  {{ content }}

<footer>

  <address>
  <ul>
    <li>
    <a href="mailto:philogb@gmail.com">
      <img alt="mail" title="mail" src="/assets/img/gmail.png" />
    </a>
    </li>
    <li>
    <a href="http://www.linkedin.com/in/nicolasbelmonte">
      <img alt="linkedin" title="linkedin" src="/assets/img/linkedin.png" />
    </a>
    </li>
    <li>
    <a href="http://twitter.com/philogb/">
      <img alt="twitter" title="twitter" src="/assets/img/twitter.png" />
    </a>
    </li>
    <li>
    <a href="http://blog.thejit.org/">
      <img alt="blog" title="blog" src="/assets/img/blog.png" />
    </a>
    </li>
  </ul>
  </address>
    
  Copyright 2011 &copy; Nicolas Garcia Belmonte. 
</footer>

</body>
</html>
